body {
  font-family: "Poppins";
  /* background-image: url('beach.jpg'); */
  /* opacity: .4;  */
  background-color: #E5BE1F;
}

.home-head {
  background-color: #035c5F;
}

.aboutme {
  background-color: #DA733D;
}

.contact {
  background-color: #F19D54;
}

.project-head {
  background-color: #DA733D;
}

.proj-desc {
  background-color: #035c5F;
}