body {
  font-family: "Poppins";
}

.home-head {
  background-color: #035c5F;
}

body {
  background-color: #E5BE1F;
}

.aboutme {
  background-color: #DA733D;
}

.contact {
  background-color: #F19D54;
}

.project-head {
  background-color: #DA733D;
}

.proj-desc {
  background-color: #035c5F;
}

