body {
  font-family: "Poppins";
}

.home-head {
  background-color: #035c5f;
}

body {
  background-color: #e5be1f;
}

.aboutme {
  background-color: #da733d;
}

.contact {
  background-color: #f19d54;
}

.project-head {
  background-color: #da733d;
}

.proj-desc {
  background-color: #035c5f;
}

